<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.harvey.respiratory.server.dao.DrugMapper"><!--名字写代理接口-->
    <update id="deplete">
        UPDATE tb_drug
        SET storage = storage - CASE id
        <foreach collection="depleteMap" index="key" item="value" separator=" ">
            WHEN #{key} THEN #{value}
        </foreach>
        ELSE 0
        END
        <where>
            id IN
            <foreach collection="depleteMap.keySet()" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>