<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.harvey.respiratory.server.dao.PatientMapper"><!--名字写代理接口-->

    <resultMap id="PatientDtoMap" type="org.harvey.respiratory.server.pojo.dto.PatientDto">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="identity_card_id" property="identityCardId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="birth_date" property="birthDate"/>
        <result column="address" property="address"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="healthcare_code" property="healthcareCode"/>
        <result column="healthcare_type" property="healthcareType"/>
        <result column="healthcare_balance" property="balance"/>
    </resultMap>

    <!--
    select p.id,
           p.phone,
           p.name,
           p.sex,
           p.birth_date,
           p.address,
           p.height,
           p.weight,
           p.identity_card_id,
           h.type         as  healthcare_type,
           h.healthcare_code,
           h.balance      as  healthcare_balance ,
    from tb_user_patient_intermediation i
             INNER  JOIN user_security u
                    on i.user_id = u.id
             INNER  JOIN tb_patient p
                    on i.patient_id = p.id
             LEFT JOIN tb_healthcare h
                    on h.healthcare_id = p.healthcare_id
    where u.id = #{userId}
    limit ${start},${len};
    -->
    <select id="queryByRegisterUser" resultMap="PatientDtoMap"><!--起了别名之后就方便了-->
        select
        p.id,
        p.phone,
        p.name,
        p.sex,
        p.birth_date,
        p.address,
        p.height,
        p.weight,
        p.identity_card_id,
        h.type as healthcare_type,
        h.healthcare_code,
        h.balance as healthcare_balance
        from (
        select patient_id
        from tb_user_patient_intermediation
        <where>
            tb_user_patient_intermediation.user_id = #{userId}
        </where>
        limit ${start},${len}
        ) AS i
        INNER JOIN tb_patient p
        on i.patient_id = p.id
        LEFT JOIN tb_healthcare h
        on h.healthcare_id = p.healthcare_id
        ;
    </select>
</mapper>